/* project0 SASS file demonstrating use of SCSS variable, SCSS nesting and SCSS inheritance
  This style file is intended for formatting of "skills.html" web-page */
$text_size_large: 18px;
$text_size_small: 12px;

/* SCSS nesting                     */
 div {
   font-family: "Times New Roman", "sans-serif";
    ol, ul {
      font-family: "Arial", "sans-serif";
      color: gray;
    }
  }

/* inheritance */
%format_baseline {
    font-family: sans-serif;
    color: black;
    border: 1px solid black;
    padding: 10px;
    margin: 30px;
}
.format_grid_th{
  @extend %format_baseline;
  font-size: $text_size_large;
  font-weight: bold;
  background-color: lightgray;
}
.format_grid_td{
  @extend %format_baseline;
  font-size: $text_size_large;
  font-weight: normal;
  background-color: white;
  }

/* check media and adjust font sizes */
@media (min-width: 751px) {
  .pgf_font {
      font-size: $text_size_large;
      color:blue;
  }
}
@media (max-width: 750px) {
  .pgf_font{
      font-size: $text_size_small;
      color: black
  }
}

